/* @override http://test.dev/forum/style.css */

/* @override http://test.dev/forum/style.css */

/* @override http://test.dev/forum/style.css */

/* @override http://www.stoerke.be/recentforumactivity/style.css */

/* @override http://www.stoerke.be/forums/style.css */
li{
	padding-bottom: 5px;
}
#content li {
	display: block;
	position: relative;
	padding-bottom: 0;
}
#content li.resolved.hide {
	display: none;
}

#content li a {
	color: #21759b;
	text-decoration: none;
	font-weight: normal;
}
ul {
	padding-bottom: 1em;
}

a:link, a:visited{
color: #21759b;	
}

#ft a {
	color: #666;
}

form, div#noform {
	background: #369;
	padding: 1em;
	font-size: 1.5em;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin-bottom: .8em;
}

#download {
	
	
}
#download a {
 	
}
#download a:link {background-color: #2d8f2e;
 display: block;
 color: #fffeff;
 padding: 0.4em;
 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}      /* unvisited link */
#download a:visited {color:#FFF;}  /* visited link */
#download a:hover {
	background-color: #369;}  /* mouse over link */
#download a:active {color:#FFF;}  /* selected link */
form#f div, div#noform, #download{
	text-align: center;
}

input#profile, input#pages {
	margin-right: 1em;
}


body {
	font-family: "arial rounded mt bold","lucida grande",arial,sans-serif;
}

h1 {
	font-size: 3em;
	color: #393;
	text-align: right;
	padding: 5px 20px 0 20px;
}

h3 {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.2em;
	color: #333;
	
}
#content h3 {
	margin-bottom: 0;
}
#content-header  {
	margin-bottom: 15px;
}
p {
padding-bottom: 1em;	
}
#hd p {
	text-align: right;
	padding: 0 20px 8px 20px;
}

div.yui-ge div#content.yui-g.first ol,
div.yui-ge div#content.yui-g.first div#content-header{
	padding-left: 12%;
}

#ft {
	margin-top: 2em;
	color: #999;
}
